/* reset css  */
*{
    padding:0;
    margin:0;
    border-sizing:border-box;
}
body{
    font-family:'Roboto', sans-serif;
}
.card{
    display:flex;
    flex-direction:row;
}
.year{
    background-color:#ef5321;
}
.day{

    background-color:#fe6d3f;
}
.month{
    background-color:#fe6d3f;
}