/* reset css */
*{
    padding:0;
    margin:0;
    border-sizing:border-box;

}
body{
    font-family:'Roboto', sans-serif;
}

    .card{
        margin:0 auto;
        border-radius:5px;
        width:90vw;
        box-shadow: 0 2px 4px rgb(0 0 0 / 15%);
        margin:0 auto ;
        margin-top: 100px;
        overflow: hidden;
        line-height: 24px;
        height:300px;
        
    }
    
    .recent-year{
        font-size:16px;
        font-weight:300;
        color:#fff;
        background-color:#ef5321;
        text-align:center;
    }
    .day-month{
     
       
      
        background-color:#fe6d3f;
        display:flex;
        flex-direction:column;
    }
    .day{
        font-size:32px;
        padding-top: 20px ;
        padding-bottom:10px;
        font-weight:400;
    }
    .month{
        font-weight:300;
        font-size:16px;
        padding-bottom:10px;
    }
    .day,.month{
        color:#fff;
        text-align:center;
    }
    .name{
       padding-left:10px;
       padding-top:10px;
        font-size:14.8px;
        font-weight:400;
        color:#464646;
        background-color:#fff;
        
    }
    .detail2{
        margin-top:10px;
        margin-left:15px;
        font-size:12.4px;
        font-weight:300;
        color:#464646;
        background-color:#fff;
        display:flex;
        flex-direction:column;
    
    }
    
    .sign-up{
        margin-left:15px;
        font-size:13px;
        font-weight:400;
        background-color:#fff;
        color:#3c78e8;
        border-top: 0.5px solid #c4c4c4e3;
        cursor: pointer;
        margin-right:15px;
        padding-top:10px;
    }



